In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Independent_Medical_Reviews.csv")

In [3]:
df.head()

,Reference ID,Report Year,Diagnosis Category,Diagnosis Sub Category,Treatment Category,Treatment Sub Category,Determination,Type,Age Range,Patient Gender,Findings
0,MN16-22639,2016,Infectious,Hepatitis,Pharmacy/Prescription Drugs,Anti-virals,Overturned Decision of Health Plan,Medical Necessity,41-50,Male,Nature of Statutory Criteria/Case Summary: An ...
1,MN16-22638,2016,Mental,Eating Disorder,Mental Health Treatment,Residential Treatment Center - Admission,Upheld Decision of Health Plan,Medical Necessity,21-30,Female,Nature of Statutory Criteria/Case Summary: An...
2,MN16-22637,2016,Autism Spectrum,Autism-PDD-NOS,Autism Related Treatment,Speech Therapy,Upheld Decision of Health Plan,Medical Necessity,0-10,Female,Nature of Statutory Criteria/Case Summary: Th...
3,EI16-22636,2016,Prevention/Good Health,NaN,"Diagnostic Imaging, Screening and Testing",Mammography,Overturned Decision of Health Plan,Experimental/Investigational,65+,Female,Nature of Statutory Criteria/Case Summary: An ...
4,EI06-5319,2006,Cardiac/Circulatory,NaN,Cardio Vascular,NaN,Upheld Decision of Health Plan,Experimental/Investigational,51-64,Male,Physician 1: The patient is a 62-year-old male...

In [4]:
df.tail(3)

,Reference ID,Report Year,Diagnosis Category,Diagnosis Sub Category,Treatment Category,Treatment Sub Category,Determination,Type,Age Range,Patient Gender,Findings
19242,MN01-5,2001,Orthopedic/ Musculoskeletal,Other,Orthopedic,Arthroscopy,Upheld Decision of Health Plan,Medical Necessity,NaN,NaN,A 46-year-old female requested an orthoscopic ...
19243,MN01-4,2001,Orthopedic/ Musculoskeletal,Back Pain,Reconstructive/Plastic Surgery,Breast Reduction,Overturned Decision of Health Plan,Medical Necessity,NaN,NaN,A 24-year-old female requested a bilateral bre...
19244,EI01-3,2001,Cancer,Lung Cancer,Cancer Treatment,Clinical Trial (Phase 1),Upheld Decision of Health Plan,Experimental/Investigational,NaN,NaN,A male requested participation in a Phase I st...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19245 entries, 0 to 19244
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Reference ID            19245 non-null  object
 1   Report Year             19245 non-null  int64
 2   Diagnosis Category      19186 non-null  object
 3   Diagnosis Sub Category  17341 non-null  object
 4   Treatment Category      18795 non-null  object
 5   Treatment Sub Category  17977 non-null  object
 6   Determination           19245 non-null  object
 7   Type                    19245 non-null  object
 8   Age Range               18035 non-null  object
 9   Patient Gender          18035 non-null  object
 10  Findings                19225 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.6+ MB

In [6]:
df.describe()

        Report Year
count  19245.000000
mean    2009.662977
std        4.272045
min     2001.000000
25%     2007.000000
50%     2010.000000
75%     2014.000000
max     2016.000000

In [7]:
df.isnull().sum()

Reference ID                 0
Report Year                  0
Diagnosis Category          59
Diagnosis Sub Category    1904
Treatment Category         450
Treatment Sub Category    1268
Determination                0
Type                         0
Age Range                 1210
Patient Gender            1210
Findings                    20
dtype: int64

In [10]:
categorical_cols = ['Diagnosis Category', 'Diagnosis Sub Category', 'Treatment Category', 'Treatment Sub Category', 'Determination',
                    'Type', 'Age Range', 'Patient Gender', '']

In [11]:
df['Diagnosis Sub Category'].fillna('Unknown', inplace=True)
df['Treatment Sub Category'].fillna('Unknown', inplace=True)

KeyError: 'Diagnosis Sub Category'

In [9]:
# Convert all column names and data to lowercase and strip whitespaces
df.columns = [col.lower().strip() for col in df.columns]
df = df.applymap(lambda x: x.lower().strip() if isinstance(x, str) else x)

In [ ]:
df['Findings'].fillna

In [12]:
df.dropna()
df.dropna(axis=1)

,reference id,report year,determination,type
0,mn16-22639,2016,overturned decision of health plan,medical necessity
1,mn16-22638,2016,upheld decision of health plan,medical necessity
2,mn16-22637,2016,upheld decision of health plan,medical necessity
3,ei16-22636,2016,overturned decision of health plan,experimental/investigational
4,ei06-5319,2006,upheld decision of health plan,experimental/investigational
...,...,...,...,...
19240,mn01-7,2001,overturned decision of health plan,medical necessity
19241,mn01-6,2001,upheld decision of health plan,medical necessity
19242,mn01-5,2001,upheld decision of health plan,medical necessity
19243,mn01-4,2001,overturned decision of health plan,medical necessity
19244,ei01-3,2001,upheld decision of health plan,experimental/investigational

In [14]:
df.duplicated().sum()

np.int64(0)

In [18]:
print(df.columns)

Index(['reference id', 'report year', 'diagnosis category',
       'diagnosis sub category', 'treatment category',
       'treatment sub category', 'determination', 'type', 'age range',
       'patient gender', 'findings'],
      dtype='object')

In [21]:
df.fillna()

ValueError: Must specify a fill 'value' or 'method'.